# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\kafka-sample-code-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
